$gutter: 1rem; //for primeflex grid system
@import "primeflex/primeflex.scss";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
// @import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/primeflex/primeflex.scss";
// @import "../node_modules/@fullcalendar/daygrid/main.min.css";
// @import "../node_modules/@fullcalendar/timegrid/main.min.css";
body {
  background-color: #f7fcff;
}
.error {
  color: #f4425c;
  font-size: 13px;
}

.empty-div {
  min-height: 200px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-label {
  color: #424242;
  font-family: "arial";
  font-size: 18px;
  font-weight: bold;
}

.box-shadow {
  box-shadow: 2px 2px 10px 1px #d3d3d3;
  border-radius: 1%;
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}
